// COLOR DECLARATIONS

$naplyBlack: #010101;
$naplyWhite: #fff4f1;


// MAIN STYLING

html {
  background-color: white; 
  font-family: 'Terminal Dosis Light', sans-serif;
  color: black} 

h1 {
  font-size: 4em; }
