#users
  #h3 Users:

:javascript
  setInterval(function add_users(){
    $.ajax({
      //url: "http://naply.dyndns.org:3000/friendships.json",
      url: "/friendships.json",
      dataType: 'json',
      success: function(friendship) {
        //alert(users);
        $.each(friendship, function(value) {
          $('#users').append("<p>BOOBIES" +  friendship[value].user_1 + "</p>");
        });
      }
    });
  }, 5000);

