#users
  #h3 Users:

:javascript
  setInterval(function add_users(){
    $.ajax({
      //url: "http://naply.dyndns.org:3000/friendships.json",
      url: "/friendships.json",
      dataType: 'json',
      success: function(users) {
        //alert(users);
        $('#users').replaceWith("<p>boobs"+users.name+"</p>");
        console.log(users); 
        $.each(users, function(value) {
          $('#users').append("<p>BOOBIES" +  users.name + "</p>");
        });
      }
    });
  }, 5000);

