%footer
  #cloudspace-logo
  %p
    Built with love in one night from two engineers from
    %a{:title => "Cloudspace", :href => "http://www.cloudspace.com"} Cloudspace
    %br/
    %br/
    To join the network map of Nerdapalooza:
    .h1{:style => 'text-align:center;font-size:50px;'} Txt your name to (256) 274-6791
    Then start texting the names of people you meet, or things you want to show up on the network graph!
