%footer
  #cloudspace-logo
  %p{:style => 'width:100%; float:left;'}
    %span Built with love in one night from two engineers from
    %a{:title => "Cloudspace", :href => "http://www.cloudspace.com"} Cloudspace
    %span To join the network map of Nerdapalooza:
    %br
    %span{:style => 'text-align:center;font-size:50px;'} Txt your name to 
    %span{:style => 'text-align:center;font-size:50px;'} (256) 274-6791
    %br
    Then start texting the names of people you meet, or things you want to show up on the network graph!
