%footer
  #cloudspace-logo
  %p{:style => 'width:50%; float:left;'}
    Built with love in one night from two engineers from
    %a{:title => "Cloudspace", :href => "http://www.cloudspace.com"} Cloudspace
    %br/
    %br/
    To join the network map of Nerdapalooza:
    .h1{:style => 'text-align:center;font-size:50px;'} Txt your name to 
    .h1{:style => 'text-align:center;font-size:50px;'} (256) 274-6791
    Then start texting the names of people you meet, or things you want to show up on the network graph!
  %p{:style => 'width:50%;float:left;'}
    %img{:src => 'http://images.wikia.com/mlp/images/2/28/PinkiePieHiRes.png', :style => 'width:310px;'}
