%footer
  #cloudspace-logo
  %p
    Built with love in one night from two engineers from
    %a{:title => "Cloudspace", :href => "http://www.cloudspace.com"} Cloudspace
    %br/
    %br/
    %span{:style=>'text-align:center;'} To join the network map of Nerdapalooza:
    %span{:style=>'text-align:center;'} Text your name to
    %h1{:style => 'text-align:center;'} (256) 274-6791
    %span{:style=>'text-align:center;'} Then start texting the names of people you meet, or things you want to show up on the network graph!
