#headsup
  %span To join the network map of Nerdapalooza:
  %span{:style => 'text-align:center;font-size:50px;'} Txt your name to 
  %span{:style => 'text-align:center;font-size:50px;'} (256) 274-6791
  Then start texting the names of people you meet, or things you want to show up on the network graph!
